# Node.js dependencies
node_modules
npm-debug.log

# Local development files
.DS_Store
.env
.env.local
.env.development
.env.test
.env.production

# Output directories
build
dist

# Docker files
Dockerfile

README.md